<footer class="page-footer #ea80fc purple accent-1 site-footer" >
     <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Contact Us</h5>
                 <p><a class="grey-text text-lighten-3" href="/about">About Us</a></p>
                <p><a class="grey-text text-lighten-4" href="mailto:sayHello@cornerfind.com">sayHello@cornerFind.com</a></p>
                <p><a class="grey-text text-lighten-3" href="/logins">Login</a></p>
                <a class="grey-text text-lighten-3" href="/signup">Sign Up</a>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
               © 2015 CornerFind.com
            <div class="grey-text text-lighten-4 right" >All rights reserved</div>
            <br>
            <br>
        </div>
    </div>
</footer>
