.team {
    .profile {
        display: inline-block;
    }
    img {
        max-height: 200px;
        max-width: 200px;
        margin-right: 30px;
    }
    .title {
        font-family: "Arial Rounded MT Bold"
    }
}