#my-collection{
	padding: 5px 5px;
	/*border-bottom: thin solid #9e9e9e;*/
	text-decoration: none;
	font-size: 1.5rem;
	color: #26a69a;
	box-sizing: border-box;
	float:left;

	&:hover{
		background-color: #E2DEDE;
	}

	&.active {
		background-color: #26a69a;
		color: #fff;
	}

}

